.product_grid {
    display: flex;
    flex-wrap: wrap;

}

.search_components {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.space_element {
    display: flex;
    align-content: space-evenly;
}

.border_b {
    border-bottom: 1px solid black;
    padding: 0 60px;
    display: inline-block;
    align-items: center;
}
.product_edit_sec{
    margin: 10px;
}
.product_edit_item {
    margin: 10px;
    display: flex;
    flex-direction: column;

}
.product {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
}

.product img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;


}

.product h3 {
    margin: 0;
}

.product p {
    margin: 0;
}

.option_delete_edit {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 5px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: cadetblue;
    margin-bottom: 10px;
    height: 25px;
}

@media (max-width: 500px) {
    .product_grid {
        justify-content: center;
    }

    .search_components {
        text-align: center;
    }

}