.modal {
    z-index: 3;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}
.container {
    padding: 0.01em 20px;

}

.body{
    margin-top: 15px;
    padding-bottom: 30px;
}
.container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.container:after,
.container:before {
    content: "";
    display: table;
    clear: both;
}

.button {
    border: 1px solid gray;
    display: inline-block;
    padding: 8px 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;

    white-space: normal;
}

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    color: #000 !important;
    background-color: rgb(231, 28, 28) !important;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

/* Animação do Modal*/
.animate_zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.card4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.teal {
    color: #fff !important;
    background-color: rgb(104,128,129) !important;
}

.display_topright {
    position: absolute;
    right: 0;
    top: 0;
}